@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(../fonts/idroid.otf) format(opentype);
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Idroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(223, 214, 136);
    font-family: var(--font-padrão);
}
a.externo::after{
    content: '\1F587';
}

header {
    background-image: linear-gradient(to bottom, #b3a33990, #4a4316);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header>h1 {
    color: rgb(227, 220, 220);
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.305);
    margin-bottom: 20px ;
}

header>p {
    color: rgb(227, 220, 220);
    font-family: var(--font-padrão);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.305);
}

nav {
    background-color: #4a4316;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.305);
    padding: 10px;
}

nav>a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition-duration: 0.5;
}

nav>a:hover {
    background-color: rgba(219, 198, 37, 0.684);
    color: #060201;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--cor0);
    margin:auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.516);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: 'Idroid', Helvetica, sans-serif;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
}

main p{
    margin: 15px 0px; 
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    color: #383c3a;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: #7c8580;
}
div.video{
    background-color: #4a4316;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position:relative ;
    padding-bottom: 58%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: rgb(223, 214, 136);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.448);
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside > h3{
    background-color: #4a4316;
    color: rgb(231, 228, 228);
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}
footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: #063d1e;
}